.slide-enter {
  animation: slide-in 500ms;
}

.slide-enter.slide-enter-active {
  margin-right: 0;
}

.slide-leave {
  animation: slide-out 300ms;
}

.slide-leave.slide-leave-active {
  margin-right: -300px;
}

@keyframes slide-in {
  from {
    margin-right: -300px;
  }
  to {
    margin-right: 0;
  }
}

@keyframes slide-out {
  from {
    margin-right: 0;
  }
  to {
    margin-right: -300px;
  }
}

.opacity-enter {
  animation: opacity-in 500ms;
}

.opacity-enter.opacity-enter-active {
  opacity: 1;
}

.opacity-leave {
  animation: opacity-out 300ms;
}

.opacity-leave.opacity-leave-active {
  opacity: 0;
}


@keyframes opacity-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacity-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
